/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* footer */
.bs-docs-footer {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 80px;
    color: #99979c;
    text-align: left;
     background-color: #f8f8f8;
}

.bs-docs-footer a {
    color: #777
}

.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px
}

.bs-docs-footer-links li {
    display: inline-block
}

.bs-docs-footer-links li+li {
    margin-left: 15px
}

