<ul>
    {% for cate in navs %}
    <li><a href="{% url 'category' cate.id %}">{{ cate.name }}</a></li>
    {% endfor %}
</ul>

{% if tag %}
标签页：{{ tag.name }}
{% endif %}

{% if category %}
分类页：{{ category.name }}
{% endif %}


<ul>
{% for post in post_list %}
    <li>
        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
        <div>
            <span>作者：{{ post.owner.username }}</span>
            <span>分类： {{ post.category.name }}</span>
        </div>
        <p>{{ post.desc }}</p>
    </li>
{% endfor %}
</ul>

<ul>
    {% for cate in normals %}
    <li><a href="{% url 'category' cate.id %}">{{ cate.name }}</a></li>
    {% endfor %}
</ul>

<div>侧边栏展示
    {% for sidebar in sidebars %}
    <h4>{{ sidebar.title }}</h4>
    {{ sidebar.content_html }}
    {% endfor %}

</div>
